@font-face {
  font-family: Karla;
  src: url(/fonts/Karla-VariableFont_wght.ttf) format(‘truetype’);
}
html{
  margin: 0;
}
h3{
  margin-top: 5vw;
}
li{
  list-style-type: none;
}
ul{
  padding: 0;
}
body{
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: black;
}
main{
  margin-bottom: 5vw;
}

.Header{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.videoContainer{
  display: flex;
  justify-content: center;
}

.voituredore{
  width: 80vw;
  margin-right: 15vw;
}

.Menu{
  margin-right: 5%;
  width: 60%;
  padding-bottom: 5%;
}
/*
.HeaderMobile{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}
.MenuMobile{
  margin: 0;
  padding: 0;
}
.MenulinkMobile{
  position:absolute;
  z-index: 30;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
*/
.LogoContainer{
  
  margin-left: 10%;
}
#Logo{
  width: 18vw;
}

.Menu-link{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.move-link{
  color: #f3f2f1;
  font-size: 2.2vw;
  text-decoration: none;
}
.move-link:hover{
  color: #a78d4d;
}
/*--- dqkshdqsdqs --->*/
.SectionAccueil{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.desc{
  margin-right: 5%;
  text-align: end;
}
.desc h1{
  color: #f3f2f1;
  font-weight: bold;
  font-size: 2.3vw;
  margin: 10px;
}

.desc h2{
  color: #a78d4d;
  font-size: 1.5vw;
  font-family: "aileron, sans serif";
  font-weight: 700;
  font-style: normal;
}
.desc p{
  color: #f3f2f1;
  font-size: 1.5vw;
}
#Yaz{
  width: 40vw;
}
#skyline{
  position: relative;
  margin: 0;
  width: 100%;
  top:-20px;
  z-index: -1;
}
.sectionService img{
  width: 30vh;
}
.service1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vw;
}
.service2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vw;
}
.service2 button{
  cursor: pointer;
}
#p1li{
  background-image: url(../ressources/photoCar.png);
}

#p2li{
  background-image: url(../ressources/photoAccueil.png);
}
#p3li{
  background-image: url(../ressources/PhotoServiceex.png);
}

#p4li{
  background-image: url(../ressources/photoCabine.png);
}
#p5li{
  background-image: url(../ressources/photoMecanique.png);
}
#p6li{
  background-image: url(../ressources/photoservice.png);
}
.p1{
  width: 23vw;
  height: 18vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.sectionService button{
  background-color: rgba(20,20,20,0.60);
  color: #f3f2f1;
  font-size: 1.6vw;
  height: 6vw;
  margin-top: 1em;
  padding: -10px 2em;
  padding-bottom: 0;
  border: 1px transparent ;
  width: 18vw;
}
.sectionService button:hover{
  color: #a78d4d;
  
}
.sectionService h3{
  text-align: center;
  color: #a78d4d;
  font-size: 2.5vw;
}
.sectionService:first-child{
  color: #f3f2f1;
}
/*------------------ containLogoText -------------------->*/
.containLogoText{
  display: flex;
  justify-content: space-around;
}
.LogoText{
  color: #f3f2f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LogoText img{
  width: 10vw;
}
.LogoText p{
  font-size: 1.6vw;
}
/* -------------------section Mécanique-----------------*/




.sp1{
  background-image: url(../ressources/bannierevehiculedepret.jpg);
}
h4{
  font-size: 2.2vw;
}
.descSliders{
  height: 50vh;
  font-size: 1.5vw;
}

.descContain{
  width: 40vw;
  text-align: end;
  margin-right: 10vw;
}


.cacher{
  display: none;
}

.service1 p{
  color: #f3f2f1;
  font-size: 1.2vw;
  text-align: center;
  background-color: rgba(20,20,20,0.30);
  margin: 10px 10px;
}

.infoService{
  color: #f3f2f1;
  margin: 5vw 5vw;
}
.infoService h2{
  font-size: 3.0vw;
}
.infoService p{
  font-size: 1.6vw;
}
footer p{
  font-size: 1.4vw;
}
.map{
  position: absolute;

}
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
  height: 18vw;
}
.infofooter{
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  background-color: rgba(167, 141, 77, 0.60);
  margin-left: 5vw;
}
.texteContact{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.texteContact p{
  margin: 0;
}
.copyright{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 2;
  margin: 0;
  text-align: center;
  background-color: #000000;
  color: #f3f2f1;
}
.address{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h5{
  margin: 0;
  font-size: 1.7vw;
}
.infofooter img{
  margin: 1vw 2vw;
}

.modal-container{
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.modal-container.active{
  display: block;
}
.overlay{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: hwb(0 0% 100% / 0.827);
  cursor: pointer;
}
.modal{
  width: 50vw;
  height: 35vw;
  background: #a78d4d;
  border-radius: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
}

.close-modal{
  padding: 1vw 1vw;
  border: none;
  border-radius: 10%;
  font-size: 1vw;
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
  background: #000000;
  color: #a78d4d;
}

.infofooter.modal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 5vw;
}
.modal-container h5{
  font-size: 2.5vw;
}
.modal-container p{
  font-size: 2.0vw;
}
.carroussel{
  display: flex;
  justify-content: center;
  margin: 4vw auto;
  width: 80vw;
  height: 30vw;
}
.carroussel img{
  height: 100%;
}
.imgContainer{
  margin: 2vw;
}
.btnSlider{
  background: none;
  border: none;
  display: contents;
  visibility: visible;
  position:block;
  top:50%;
  margin: 10px;
  padding: 10px;
}
.buttonSliderCache{
  visibility: hidden;
}
.btnSlider img{
  position: relative;
  width: 5vw;
  height: 5vw;
  opacity: 0.6;
  top: -10vw;
}
.btnSlider img:hover{
  cursor: pointer;
}
.map iframe{
  height: 18vw;
}
.texteContact img{
  width: 2.5vw;
}

@media screen and (max-width:500px) {
  .imgContainer{
    width: 90vw;
  }
  .SectionAccueil{
    flex-direction: column-reverse;
    text-align: center
  };
  article.desc{
    width: 90vw;
  }
  article.desc h1{
    text-align: center;
    font-size: 4vw;
  }
  article.desc h2{
    text-align: center;
    font-size: 3vw;
  }
  article.desc p{
    text-align: center;
    font-size: 2.5vw;
  }
  #Yaz{
    width: 70vw;
    margin: auto;
    margin-bottom: 4vw;
  }
  .sectionService h3{
    font-size: 4vw;
  }
  .service1{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .p1{
    width: 69vw;
    height: 54vw;
    margin-bottom: 5vw;
  }
  .service1 p{
    font-size: 3.6vw;
  }
  .sectionService button{
    font-size: 4.8vw;
    height: 18vw;
    width: 54vw;
  }
  .infoService h2{
    text-align: center;
    font-size: 4vw;
  }
  .infoService p{
    text-align: center;
    font-size: 3.6vw;
  }
  .service2{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #skyline{
    top:-10px;
  }
}
@media screen and (max-width:950px) {
  
  footer{
    height: 40vw;
  }
  .map iframe{
    height: 38vw;
  }
  .texteContact p{
    font-size: 2.4vw;
  }
  .texteContact h5{
    font-size: 2.6vw;
  }
  .texteContact img{
    width: 5vw;
  }
  .copyright{
    font-size: 2.7vw;
  }
}
