body{
  background-image: url(../ressources/backgroundOnglet.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.containerMécanique{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: 'aileron, sans sherif';

}
.text{
  display:flex;
  flex-direction: column;
  width: 50vw;
}
h1{
  margin: 5vw 0;
  font-size: 3.4vw;
  color: #f3f2f1;
}
.text p{
  color: #f3f2f1;
  font-size: 2.2vw ;
}
.backgroundméca{
  position:absolute;
  z-index: -1;
  opacity: 0.4;
  width: 65vw;
  height: 45vw;
}

.containLogoTextMécanique{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left{
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
}
.LogoTextMécanique{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-size: 1.4vw;
  color: #f3f2f1;
}
.LogoTextMécanique img{
  width: 10vw;
}
footer{
  margin: 0;
}
.beforeCarroussel{
  text-align: center;
  color: #f3f2f1;
  font-size: 2.6vw;
}

@media  screen and (max-width:500px) {
  .containerMécanique{
    flex-direction: column;
    align-items: center;
  }
  .text{
    width: 70%;
  }
  .containerMécanique h1{
    font-size: 4.00vw;
    text-align: center;
  }
  .text p{
    font-size: 3.6vw;
    text-align: center;
  }
  .containLogoTextMécanique{
    width: 60vw;
    justify-content: space-around;
  }
  .containLogoTextMécanique p{
    font-size: 2.8vw;
    text-align: center;
  }
  .beforeCarroussel{
    font-size: 3.8vw;
  }
}